
#whatsapp-icon {
    max-width: 35px;
    position: fixed;
    bottom: 17px;
    right: 16px;
    z-index: 999;
    -webkit-animation: whatsAnimation .8s linear infinite;
    animation: whatsAnimation .8s linear infinite;
  }
  
  #call-icon {
    max-width: 35px;
    position: fixed;
    bottom: 17px;
    left: 16px;
    z-index: 999;
    -webkit-animation: whatsAnimation .8s linear infinite;
    animation: whatsAnimation .8s linear infinite;
  }